<% if @trends_news.any? %>
  <div class="trends_news_time">
    最終更新：<%= time_ago_in_words(@trends_news.first[:Time]) %>前
  </div>
  <script async class="adsense" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Newstter-1 -->
  <ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-8776591675468276"
  data-ad-slot="3663140947"
  data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <ol class="trends_news">
    <%= render @trends_news %>
  </ol>
  <script async class="adsense" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Newstter-2 -->
  <ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-8776591675468276"
  data-ad-slot="8093340549"
  data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
<% end %>
