<div class="error-template">
    <h1>ページが表示できません。</h1>
    <h2>500 Internal Server Error</h2>
    <div class="error-actions">
        <a href="/" class="btn btn-primary btn-lg">ホームに戻る</a>
    </div>
</div>